<html>
    <head>
        <title>Main CD page</title>
    </head>
    <body>
        <h1>Hey who still uses CDs</h1>
        {# if statement, no cds, show welcome #}
        {# #}

        <p><a href='/new_cd'>Add a new CD</a></p>
        <p><a href='/search'>Search for a CD</a></p>

    </body>
</html>
