<html>
<head>
    <title>Your Search Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
    <h1>Here is the car you added:</h1>

        <p>Here is your car:</p>
        <ul>{{ newcar.getModel }}
        <li> {{ newcar.getMiles }} </li>
        <li>{{ newcar.getPrice }} </li>
        </ul>
    <p><a href='/'>Add another car</a></p>
</body>
</html>
