<html>
<head>
    <title>Your Car Criteria</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
    <h1>What are you looking for?</h1>

    <form action='/cars' method='post'>
        <label for='model'>Car model?</label>
        <input id='model' name='model' type='text'>

        <label for='price'>Maximum price?</label>
        <input id='price' name='price' type='number'>

        <label for='miles'>Maximum miles?</label>
        <input id='miles' name='miles' type='number'>

        <button type='submit'>search</button>
    </form>
    <form action='/delete' method='post'>
        <button type='submit'>Delete</button>
    </form>
</body>
</html>
