<html>
<head>
    <title>Your Search Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
    <h1>Your cars have been trashed</h1>
    <p><a href='/'>Search again</a></p>
</body>
</html>
